*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: pink;
}
.container {
    position: relative;
}
.image {
    width: 35vw;
    height: 100vh;
}
.background {
    width: 35vw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 37vh; left: 0vw;
}
.logo {
    position: absolute;
    top: 35vh; left: 5vw;
    width: 10vw;
    /* border: 3px solid red; */
}
.odinText {
    position: absolute;
    top: 41vh; left: 17vw;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 10vw;
    /* border: 3px solid rgb(38, 0, 255); */
}

.TextOne {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 60vw;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.TextTwo {
    position: absolute;
    top: 15rem;
    right: 0;
    width: 60vw;
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.TextThree {
    position: absolute;
    top: 20rem;
    right: 0;
    width: 60vw;
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label, input {
    display: block;
}
.new {
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    top: 70vh;
    right: 0;
    width: 60vw;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}
.formOne, .formTwo, .formThree {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}
.field {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.Button {
   width: 150px;
   height: 30px;
   border-radius: 12px;

}
.login {
    color: blue;
}


